<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method = "post" action="/prediction">
        <label>Sepal Length</label>
        <input type = "text" name = "sepalL">
        <br>
        <br>
        <label>Sepal Width</label>
        <input type="text" name = "sepalW">
        <br>
        <br>        
        <label>Petal Length</label>
        <input type = "text" name = "petalL">   
        <br>
        <br>    
        <label>Petal Width</label>
        <input type = "text" name = "petalW">
        <br>
        <br>
        <input type = "submit" value = "Predict Species">
        <br>
        <br>
        
        {{result}}
    </form>
</body>
</html>